.menuLeftContainer {
    align-self: center;
    width: 200px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.menuLeftContainer ul {
    padding: 0;
    width: 75px;
}

.menuLeftContainer li {
    position: relative;
    list-style: none;
    height: 75px;
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: black;
}

.menuLeftContainer span {
    position: absolute;
    align-items: center;
    display: flex;
    left: 0;
    height: 100%;
    width:  100%;
    border-radius: 37.5px;
    background: white;
}

.menuLeftContainer li:hover span {
    background: black;
    color: blanchedalmond;
}

.menuLeftContainer p {
    z-index: 10;
}

.menuLeftContainer ul:hover {
    width: 200px;
}

.menuLeftContainer ul:hover span {
    border-radius: 37.5px;
}


.menuLeftContainer ul:hover span {
    border-radius: 37.5px;
}

.menuLeftContainer p {
   margin: 0.5rem;
}

.menuLeftItemIcon {
    height: 60px;
    width: 60px;
    margin-right: 1rem;
}

.menuLeftItemTitle {
    display: none;
    font-size: 1.2rem;
}

.menuLeftContainer ul:hover .menuLeftItemTitle {
   display: block;
}
